 <!-- Modal -->
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="contractModalLabel">Editar Datos del Contrato: {{ aspirante.nombre }} {{ aspirante.papellido }} {{ aspirante.sapellido }} </h5>
        </div>
        <div class="modal-body">
            <!-- Cargar el formulario del cargo aquí -->
            <form action="{% url 'updt_contrato' object.pk %}" 
                method="POST" 
                id="contratoForm">
                {% csrf_token %}
                
                <div class="nav-align-top mb-4">
                    <ul class="nav nav-pills mb-3 nav-fill" role="tablist">
                      <li class="nav-item">
                        <button
                          type="button"
                          class="nav-link active"
                          role="tab"
                          data-bs-toggle="tab"
                          data-bs-target="#navs-justified-plantilla"
                          aria-controls="navs-justified-plantilla"
                          aria-selected="true"
                        >
                          <i class="fas fa-sitemap"></i> Plantilla
                        </button>
                      </li>
                      <li class="nav-item">
                        <button
                          type="button"
                          class="nav-link"
                          role="tab"
                          data-bs-toggle="tab"
                          data-bs-target="#navs-justified-salario"
                          aria-controls="navs-justified-salario"
                          aria-selected="false"
                        >
                          <i class="fas fa-wallet"></i> Salario
                        </button>
                      </li>
                    </ul>
                    <div class="tab-content">
                        
                        <!--CONTRATO-->
                        <div class="tab-pane fade show active" id="navs-justified-plantilla" role="tabpanel">
                            <div class="row g-3">
                                <div class="col-md-3">
                                    {{ form.no_expediente.label }}  
                                    {{ form.no_expediente }}
                                </div>
                                <div class="col-md-4">
                                    {{ form.tipo.label }}  
                                    {{ form.tipo }}
                                </div>
                                <div class="col-md-5">
                                    {{ form.motivo.label }}  
                                    {{ form.motivo }}
                                </div>
                                <div class="col-md-6">
                                    {{ form.fecha_alta.label }}  
                                    {{ form.fecha_alta }}
                                </div>
                                <div class="col-md-6">
                                    {{ form.duracion.label }}  
                                    {{ form.duracion }}
                                </div>
                                
                                <!--UNIDAD ORGANIZATIVA-->
                                <div class="col-md-6">
                                    {{ form.unidad.label }}  
                                    {{ form.unidad }}
                                </div>
                                <div class="col-md-6">
                                    {{ form.departamento.label }}  
                                    {{ form.departamento }}
                                </div>
                                <div class="col-md-12">
                                    {{ form.cargo.label }}  
                                    {{ form.cargo }}
                                </div>

                                
                                <!--CALIFICACIONES-->
                                <div class="col-md-4">
                                    <div class="form-check form-switch mb-2">
                                        {{ form.c_formal }}
                                        <label class="form-check-label" for="flexSwitchCheckDefault">
                                            {{ form.c_formal.label }}
                                        </label>
                                    </div>
                                    <div class="col-auto">
                                        {{ form.c_formal_res }}
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-check form-switch mb-2">
                                        {{ form.funcionario }}
                                        <label class="form-check-label" for="flexSwitchCheckDefault">
                                            {{ form.funcionario.label }}
                                        </label>
                                    </div>
                                    <div class="col-auto">
                                        {{ form.funcionario_res }}
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="form-check form-switch mb-2">
                                        {{ form.designado }}
                                        <label class="form-check-label" for="flexSwitchCheckDefault">
                                            {{ form.designado.label }}
                                        </label>
                                    </div>
                                    <div class="col-auto">
                                        {{ form.designado_res }}
                                    </div>
                                </div>
                                
                                <!--CHOFER-->
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-check form-switch mb-2">
                                                {{ form.profesional }}
                                                <label class="form-check-label" for="id_profesional">
                                                    {{ form.profesional.label }}
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-check form-switch mb-2">
                                                {{ form.jubilado_recontratado }}
                                                <label class="form-check-label" for="id_jubilado_recontratado">
                                                    {{ form.jubilado_recontratado.label }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-check form-switch mb-2 mt-4">
                                                {{ form.mision }}
                                                <label class="form-check-label" for="id_mision">
                                                    {{ form.mision.label }}
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            {{ form.pais.label }}  
                                            {{ form.pais }}
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    {{ form.fecha_vence_lic.label }}
                                    {{ form.fecha_vence_lic }}
                                </div>
                                <div class="col-md-4">
                                    {{ form.fecha_vence_recal.label }}
                                    {{ form.fecha_vence_recal }}
                                </div>
                                <div class="col-md-4">
                                    {{ form.fecha_vence_seg.label }}
                                    {{ form.fecha_vence_seg }}
                                </div>

                                <div class="col-md-12">
                                    {{ form.reg_militar.label }}  
                                    {{ form.reg_militar }}
                                </div>
                                
                            </div>
                        </div>

                        <div class="tab-pane fade" id="navs-justified-salario" role="tabpanel">
                            <div class="row g-3">
                                <div class="col-md-6">
                                    {{ form.tipo_salario.label }}  
                                    {{ form.tipo_salario }}
                                </div>
                                <div class="col-md-6">
                                    Categoría Ocupacional
                                    <input type="text" id="id_cat_ocupacional" value="{{ form.instance.cargo.ncargo.get_cat_ocupacional_display|default:'---' }}" class="form-control" readonly placeholder="---">
                                </div>

                                <div class="col-md-4">
                                    {{ form.grupo_escala.label }} 
                                    {{ form.grupo_escala }}
                                </div>
                                <div class="col-md-4">
                                    Rol 
                                    {{ form.rol }}
                                </div>
                                <div class="col-md-4">
                                    {{ form.tridente.label }}  
                                    {{ form.tridente }}
                                </div>

                                <div class="col-12">
                                    <div class="row g-3 mt-2 p-3 border rounded bg-light" id="resultados_salariales">
                                        <div class="col-md-4">
                                            <label class="fw-bold text-primary">Salario Escala</label>
                                            <input class="form-control fw-bold" id="salarioEscala" name="salarioEscala" readonly value="{{ initial_salario_escala }}">
                                        </div>
                                        <div class="col-md-4">
                                            <label>Tarifa Horaria</label>
                                            <input class="form-control" id="tarifaHoraria" name="tarifaHoraria" readonly value="{{ initial_tarifa_horaria }}">
                                        </div>
                                        <div class="col-md-4">
                                            <label>Tarifa Horas Extras</label>
                                            <input class="form-control" id="tarifaExtras" name="tarifaExtras" readonly value="{{ initial_tarifa_extras }}">
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-md-3">
                                    {{ form.maestria.label }}  
                                    {{ form.maestria }}
                                </div>
                                <div class="col-md-3">
                                    {{ form.doctorado.label }}  
                                    {{ form.doctorado }}
                                </div>
                                <div class="col-md-3">
                                    {{ form.instructor.label }}  
                                    {{ form.instructor }}
                                </div>
                                <div class="col-md-3">
                                    {{ form.cnci.label }}  
                                    {{ form.cnci }}
                                </div>
                                
                                <div class="col-md-6">
                                    {{ form.jornada.label }}  
                                    {{ form.jornada }}
                                </div>

                                <div class="col-12">
                                    
                                    <div class="d-flex gap-2">
                                        <div class="flex-fill">{{ form.cla1.label }} {{ form.cla1 }}</div>
                                        <div class="flex-fill">{{ form.cla2.label }} {{ form.cla2 }}</div>
                                        <div class="flex-fill">{{ form.cla3.label }} {{ form.cla3 }}</div>
                                        <div class="flex-fill">{{ form.cla4.label }} {{ form.cla4 }}</div>
                                        <div class="flex-fill">{{ form.cla5.label }} {{ form.cla5 }}</div>
                                    </div>
                                </div>

                                
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    (function() {
        // 1. Apuntamos al ID correcto de este formulario
        var formulario = document.getElementById('contratoForm');
        if (!formulario) return;

        // 2. Función maestra para habilitar/deshabilitar campos
        function toggleCampo(checkElement, resElement) {
            if (!checkElement || !resElement) return;
            if (checkElement.checked) {
                resElement.removeAttribute('disabled');
            } else {
                resElement.setAttribute('disabled', 'disabled');
                resElement.value = ''; 
            }
        }

        // 3. Conectar Switch de MISIÓN -> Campo PAÍS
        var mision = formulario.querySelector('#id_mision');
        var pais = formulario.querySelector('#id_pais');
        if (mision && pais) {
            mision.addEventListener('change', function() { toggleCampo(mision, pais); });
            toggleCampo(mision, pais); 
        }

        // Conectar los otros switches (Calificaciones, Funcionario, etc.)
        var cFormal = formulario.querySelector('#id_c_formal');
        var cFormalRes = formulario.querySelector('#id_c_formal_res');
        if(cFormal && cFormalRes) {
            cFormal.addEventListener('change', function() { toggleCampo(cFormal, cFormalRes); });
            toggleCampo(cFormal, cFormalRes);
        }

        var funcionario = formulario.querySelector('#id_funcionario');
        var funcionarioRes = formulario.querySelector('#id_funcionario_res');
        if(funcionario && funcionarioRes) {
            funcionario.addEventListener('change', function() { toggleCampo(funcionario, funcionarioRes); });
            toggleCampo(funcionario, funcionarioRes);
        }

        var designado = formulario.querySelector('#id_designado');
        var designadoRes = formulario.querySelector('#id_designado_res');
        if(designado && designadoRes) {
            designado.addEventListener('change', function() { toggleCampo(designado, designadoRes); });
            toggleCampo(designado, designadoRes);
        }

        // -------------------------------------------------------------
        // ENVÍO OFICIAL HTMX + SWEETALERT (RECUPERADO Y CORREGIDO)
        // -------------------------------------------------------------
        formulario.addEventListener('htmx:confirm', function(e) {
            if (e.target.id !== 'contratoForm') return; 
            e.preventDefault();

            // Verificamos si hay campos obligatorios vacíos (rojos o amarillos)
            var hayVacios = formulario.querySelectorAll('.border-warning, .is-invalid').length > 0;
            if (hayVacios) {
                Swal.fire({
                    title: 'Atención',
                    text: 'Revise los campos obligatorios.',
                    icon: 'warning',
                    confirmButtonText: 'OK',
                    customClass: { confirmButton: 'btn btn-primary' },
                    buttonsStyling: false
                });
                return;
            }

            Swal.fire({
                title: '¿Confirmar cambios?',
                text: "¿Estás seguro de actualizar los datos de este contrato?",
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Sí, actualizar',
                cancelButtonText: 'Cancelar',
                customClass: { confirmButton: 'btn btn-primary me-3', cancelButton: 'btn btn-secondary' },
                buttonsStyling: false
            }).then((result) => {
                if (result.isConfirmed) {
                    e.detail.issueRequest(true); // HTMX asume el control
                }
            });
        });
        
        // --- LA LLAVE MAESTRA PARA EL CIERRE DEL MODAL ---
        formulario.addEventListener('htmx:afterRequest', function(e) {
            if (e.detail.successful) {
                // Forzar el cierre de cualquier modal abierto
                const botonCancelar = formulario.closest('.modal-content').querySelector('[data-bs-dismiss="modal"]');
                if (botonCancelar) botonCancelar.click();
                
                setTimeout(() => {
                    document.querySelectorAll('.modal-backdrop').forEach(el => el.remove());
                    document.body.classList.remove('modal-open');
                    document.body.style.paddingRight = '';
                }, 300);
            }
        });

        // Procesar formulario con HTMX al abrir
        if (window.htmx) htmx.process(formulario);
    })();
</script>