<input id="salarioEscala" name="salarioEscala" value="{{ salario }}" 
       class="form-control form-control-lg fs-2 fw-bold text-success bg-white border-success" 
       readonly hx-swap-oob="true">

<input id="tarifaHoraria" name="tarifaHoraria" value="{{ tarifa }}" readonly hx-swap-oob="true">
<input id="tarifaExtras" name="tarifaExtras" value="{{ extras }}" readonly hx-swap-oob="true">

<input id="mov_rol" value="{{ nuevo_rol }}" class="form-control form-control-sm bg-light" readonly hx-swap-oob="true">
<input id="mov_grupo" value="{{ nuevo_grupo }}" class="form-control form-control-sm bg-light" readonly hx-swap-oob="true">
<input id="mov_cat" value="{{ nueva_cat }}" class="form-control form-control-sm bg-light" readonly hx-swap-oob="true">