{% extends 'base/base.html' %}

{% block title %}Cargos{% endblock %}

{% block content %}
<h1>ESTOY EDITANDO EL ARCHIVO CORRECTO</h1>

{% load static %}

  <!-- Content wrapper -->
  <div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl grow container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Cargos /</span> Lista de Cargos</h4>

      <!-- Hoverable Table rows -->
      <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                        <input type="text" 
                              name="search_cargo" 
                              class="form-control" 
                              placeholder="Buscar cargo..."
                              hx-get="{% url 'search_cargos' %}" 
                              hx-trigger="keyup changed delay:500ms, search" 
                              hx-target="#table-cargos-container" 
                              hx-indicator=".htmx-indicator">
                    </div>
                </div>
                
                <div class="col-md-6 text-end">
                    <button class="btn btn-primary" onclick="abrir_modal_creacion('{% url 'add_ncargo' %}')">
                        <i class="fas fa-plus"></i> Nuevo Cargo
                    </button>
                </div>
            </div>
        </div>

        <div class="htmx-indicator progress" style="height: 3px; display:none;">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" style="width: 100%"></div>
        </div>

        <div class="table-responsive text-nowrap">
            {% include 'pages/catalogos/ncargo/partials/ncargo_list_partial.html' %}
        </div>
    </div>
      <!--/ Hoverable Table rows -->

      
    </div>
    <!-- / Content -->

    <div class="content-backdrop fade"></div>
  </div>
  <!-- Content wrapper -->


<!-- Incluir el modal del formulario -->
<div class="modal fade" id="editar_ncargo" role="dialog"></div>

<div class="modal fade" id="crear_ncargo" role="dialog"></div>


{% block extra_scripts %}
  <script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrir_modal_edicion(url){
      $('#editar_ncargo').load(url, function(){
        $(this).modal('show');
      })
    }
    function abrir_modal_creacion(url){
      $('#crear_ncargo').load(url, function(){
        $(this).modal('show');
      })
    }
  </script>
{% endblock extra_scripts %}

{% endblock %}


